/ClanarinaUplacenaException.class
/IsteklaClanarinaException.class
/MaxBrojPozajmicaException.class
/NedostajacaVrednostException.class
/NeispravanJmbgException.class
/NeispravnaLozinkaException.class
/NemogucPeriodException.class
/NepostojeciPostanskiBrojException.class
/NepronadjeneVrednostiException.class
/NijePronadjenClanExcepiton.class
/NijePronadjenaKnjigaException.class
/NijePronadjenjaKnjigaException.class
/NijePronadjenjaPrimerakException.class
/PostojecaKnjigaException.class
/PostojeciEmailException.class
/PraznoAdresaException.class
/PraznoFormatException.class
/PraznoImeException.class
/PraznoIsbnException.class
/PraznoIzdavacException.class
/PraznoNaslovException.class
/PraznoPrezimeException.class
/PrijavljenAdministratorException.class
/PrijavljenObradjivacException.class
/RecenzijaVecPostojiException.class
/SviPrimerciSlobodniException.class
/VecProduzenaPozajmicaException.class
/ZahtevVecPostojiException.class
