/Autor.class
/Biblioteka.class
/Bibliotekar.class
/Clan.class
/Filijala.class
/Knjiga.class
/Mesto.class
/MestoPrimerka.class
/Pozajmica.class
/Primerak.class
/Recenzija.class
/Rezervacija.class
/TipClana.class
/TipKnjige.class
/TipZaposlenog.class
/ZahtevZaRezervaciju.class
/Zanr.class
