/AutorRepo.class
/BibliotekaRepo.class
/BibliotekarRepo.class
/ClanRepo.class
/FilijalaRepo.class
/KnjigaRepo.class
/MestoPrimerkaRepo.class
/MestoRepo.class
/PozajmicaRepo.class
/PrimerakRepo.class
/RecenzijaRepo.class
/RezervacijaRepo.class
/ZahtevZaRezervacijuRepo.class
