/IzvestajDTO.class
/NaprednaPretragaDTO.class
/RegistracijaDTO.class
/PozajmiceDTO.class
/ZahtevRezervacijeDTO.class
/AutorDTO.class
/BibliotekarDTO.class
/KnjigaDTO.class
/PozajmljeneKnjigeDTO.class
/RegistracijaBibliotekaraDTO.class
